@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai 2", sans-serif;
}
body {
  background-color: beige;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  text-shadow: 1px 1px 1px rgba(214, 14, 14, 0.237);
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container > #btn {
  background-color: palevioletred;
  padding: 1.4rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  height: 120px;
  font-size: 1.8rem;
}
#emoji-desc {
  text-align: center;
  font-size: 1.2rem;
  visibility: hidden;
}
.main {
  height: 300px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.loader {
  width: 80px;
  height: 80px;
  border: 4px solid crimson;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation-name: rotation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width:900px) {
  .main{
    width: 60%;
  }
}
@media screen and (max-width:660px) {
  .main{
    width: 90%;
  }
}
